{% extends 'base.html' %}

{% block title %} ENA - 등장인물들 {% endblock %}

{% block content %}
    <h1>{{ Characters.0.title }} - 등장인물</h1>
    <table class="table table-bordered align-middle">
        <tr>
            <th>이름</th>
            <th>프로필</th>
        </tr>

        {% for character in Characters %}
        <tr>
            {% load static %}
            <td><a href="{% url 'ENA:등장인물' 등장인물=character.name %}">{{ character.name }}</a></td>
            <td><img src="{% static character.img_src %}" style="height: 200px;"/></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}